  /*Hide the flash notice div*/
  $("#flash_notice").hide(300);

  /*Update the html of the div post_errors with the new one*/
  $("#flash_notice").html("<div class=\"alert fade in alert-success\">Saved data to <%= @certpath %></div>");

  /*Show the div post_errors*/
  $("#flash_notice").show(300);
