<h1>Editing puppetmaster</h1>

<%= form_for [:admin, @puppetmaster], :url => admin_puppetmaster_path(@puppetmaster), :method => :put, :html => { :class => "form-horizontal", :id => "edit_customer" } do |f| -%>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end -%>
