<h1>Updating User</h1>

<%= form_for [:admin, @user], :url => admin_user_path(@user), :method => :put, :html => { :class => "form-horizontal", :id => "edit_user" } do |f| -%>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end -%>